/* global variables */
:root {
	--white: hsl(0, 0%, 100%);
	--grey: hsl(225, 14%, 53%);
	--turquoise: hsl(179, 80%, 58%);
	--dark-turquoise: hsl(206, 84%, 22%);
	--very-dark-blue: hsl(230, 60%, 8%);
	--error: hsl(343, 100%, 58%);
}

/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--very-dark-blue);
	color: white;
	font-size: 16px;
}
/* 
font styles */
body,
input,
button {
	font-family: "Manrope", sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 800;
	font-style: normal;
	line-height: 40px;
	text-align: center;
}

h1 span {
	color: var(--turquoise);
}

h2 {
	font-size: 1.5rem;
	font-weight: 800;
}

.plus-point h2 {
	font-size: 1.15rem;
}

h2.price {
	font-size: 2.5rem;
}

h3 {
	font-weight: 400;
	font-size: 1.1rem;
}
p {
	font-size: 0.95rem;
	font-weight: 500;
	color: var(--grey);
	line-height: 25px;
}

.plans h3 {
	font-weight: 800;
}

/* layout styles */
header {
	width: 100%;
	margin: 2rem 0;
}

header,
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main,
footer {
	margin: 1.5rem;
	text-align: center;
}

/* hero area */
.hero-words {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.hero-words h1 {
	margin-top: 2rem;
}
.hero img.mobile {
	width: 100%;
}

img.left,
img.right {
	display: none;
}

h1 {
	margin: 1rem;
}

.scroll-img {
	margin: 2rem 0;
}

/* plus-points section */
.plus-points {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}
.img-container {
	margin: 2rem auto;
	width: 124px;
	height: 124px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-turquoise);
	border-radius: 45px;
}

.plus-point img {
	height: 65%;
}

img.work-from-anywhere {
	width: 65%;
	height: auto;
}

.plus-point h2 {
	margin-bottom: 1rem;
}

/* pricing section */
.pricing {
	margin: 5rem 0 3rem 0;
}

.pricing h2 {
	margin: 1.5rem 0;
}

.plans {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 3.5rem 0 2rem 0;
}

.plan {
	padding: 2rem;
	text-align: left;
	position: relative;
	border-radius: 0.5rem;
	margin-bottom: 3.5rem;
}

.plan h3 {
	margin: 2rem 0 1rem 0;
}

.free {
	background-color: var(--dark-turquoise);
}

.paid {
	background-color: var(--turquoise);
	color: var(--very-dark-blue);
}

.plan img {
	position: absolute;
	top: -1.5rem;
}

.plan.paid img {
	top: -2rem;
}

.paid p {
	color: var(--very-dark-blue);
}

h2.price {
	display: inline-block;
	position: relative;
}

.paid span {
	font-weight: 500;
	font-size: 1rem;
	position: absolute;
	top: 0.75rem;
	right: -4rem;
}

ul {
	margin-left: 1.1rem;
}

li {
	padding: 0.75rem 0;
}

.free ul {
	list-style-image: url(/starter-code/assets/icon-check-free.svg);
}
.paid ul {
	list-style-image: url(/starter-code/assets/icon-check-paid.svg);
}

/* footer */
footer {
	margin-bottom: 3rem;
}
footer h2 {
	padding: 1rem 2rem;
	margin: 1rem auto;
	background: url(/starter-code/assets/bg-footer-squiggle.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

form {
	position: relative;
}

input,
button {
	width: 100%;
	padding: 0.75rem;
	border-radius: 24px;
	font-weight: 800;
	border: 2px solid transparent;
	outline: none;
}

input {
	background-color: var(--dark-turquoise);
	padding-left: 1rem;
	border: 2px solid transparent;
}

button {
	color: var(--very-dark-blue);
	background-color: var(--turquoise);
	cursor: pointer;
	border: 2px solid transparent;
	margin-top: 1.8rem;
}

button:hover {
	background-color: var(--very-dark-blue);
	border: 2px solid var(--turquoise);
	color: white;
}

small {
	display: none;
}

/* error styles */
.error-message {
	display: inline;
	padding-left: 1rem;
	color: var(--error);
	font-size: 0.75rem;
}

input.error-message {
	border: 2px solid var(--error);
	color: white;
	position: relative;
}

small.error-message {
	text-align: left;
	position: absolute;
	left: 0.5rem;
	top: 3rem;
}

/* tablet styles */
@media only screen and (min-width: 768px) {
	header {
		padding-left: 2.5rem;
		align-items: flex-start;
	}
	img.mobile {
		display: none;
	}

	.hero {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 3rem;
	}

	h1 {
		margin: 1rem 0 1.5rem 0;
	}

	.hero-words {
		flex-grow: 2;
		background-image: url(/starter-code/assets/bg-hero-squiggle.svg);
		background-size: contain;
		background-repeat: no-repeat;
		padding: 2rem 0.6rem;
	}

	.img-right,
	.img-left {
		height: 356px;
		width: 356px;
	}
	.img-left {
		background-image: url(/starter-code/assets/illustration-hero-left.svg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.img-right {
		background-image: url(/starter-code/assets/illustration-hero-right.svg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	/* main section */
	.main {
		width: 75%;
		margin: 0 auto;
	}

	.plus-point:nth-child(odd) {
		padding-left: 2.5rem;
	}

	.plus-point:nth-child(even) {
		padding-right: 2.5rem;
	}
	.plus-point {
		display: flex;
		align-items: center;
		margin: 0 auto;
	}

	.plus-point .text-container {
		text-align: left;
		padding-left: 3.5rem;
		flex-shrink: 3;
	}

	/* pricing section */
	.pricing {
		margin-top: 3.5rem;
		margin-bottom: 0;
	}

	.pricing p {
		padding-bottom: 3rem;
	}

	.plans {
		width: 75%;
		margin: 2rem auto;
	}
	form {
		width: 70%;
		height: 80px;
		margin: 0 auto;
	}

	input {
		width: 60%;
		display: inline;
		margin-right: 1rem;
	}
	button {
		width: 30%;
		margin-top: 0;
	}
	small.error-message {
		left: 0.5rem;
		top: 3rem;
	}
	footer h2 {
		background: none;
	}
	footer {
		background: url(/starter-code/assets/bg-footer-squiggle.svg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}

/* desktop styles */
@media only screen and (min-width: 1250px) {
	header {
		padding-left: 10rem;
		margin-top: 5rem;
		margin-bottom: 4rem;
	}

	.hero {
		margin-bottom: 8rem;
	}

	.hero-words h1 {
		font-size: 3rem;
		line-height: 1.2;
		margin-top: 0;
	}
	h2 {
		font-size: 2rem;
	}
	.hero-words {
		width: 50%;
		margin: 0 5.5rem 0 5.5rem;
		align-self: flex-end;
	}
	.hero-words p {
		margin: 0 1rem 4rem 1rem;
	}
	.hero .img-left,
	.hero .img-right {
		flex-grow: 2;
		min-height: 459px;

		margin-top: 6rem;
	}
	img.scroll-img {
		margin-top: 0;
	}
	.plus-points {
		flex-direction: row;
		margin-bottom: 5rem;
	}
	.plus-point {
		flex-direction: column;
		width: 21%;
	}

	.plus-point .img-container {
		margin-left: 0;

		width: 160px;
		height: 164px;
	}

	.plus-point .text-container {
		padding: 1rem 0;
	}
	.plus-point:nth-child(even) {
		padding-top: 2.5rem;
		padding-right: 0;
	}
	.plus-point:nth-child(odd) {
		padding-left: 0;
	}
	.pricing {
		margin-top: 3rem;
	}
	p.pricing-top {
		width: 60%;
		margin: 0 auto 4.5rem auto;
	}
	.plans {
		flex-direction: row;
		width: 95%;
	}
	.plan {
		width: 48%;
	}

	.plan.free {
		margin-top: 1rem;
		margin-bottom: 4rem;
	}
	footer {
		margin-bottom: 5rem;
	}
	footer h2 {
		margin-top: 4rem;
		padding: 3rem 0 2rem 0;
	}

	form {
		width: 40%;
		margin-top: 2rem;
	}

	small.error-message {
		top: 3.5rem;
	}
}
