/* global variables */
:root {
	--white: hsl(0, 0%, 100%);
	--grey: hsl(225, 14%, 53%);
	--turquoise: hsl(179, 80%, 58%);
	--dark-turquoise: hsl(206, 84%, 22%);
	--very-dark-blue: hsl(230, 60%, 8%);
	--error: hsl(343, 100%, 58%);
}

/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--very-dark-blue);
	color: white;
	font-size: 16px;
}
/* 
font styles */
body,
input,
button {
	font-family: "Manrope", sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 800;
	font-style: normal;
	line-height: 40px;
	text-align: center;
}

h1 span {
	color: var(--turquoise);
}

h2 {
	font-size: 1.5rem;
	font-weight: 800;
}

h2.price {
	font-size: 2.5rem;
}

h3 {
	font-weight: 400;
	font-size: 1.1rem;
}
p {
	font-size: 0.95rem;
	font-weight: 500;
	color: var(--grey);
	line-height: 25px;
}

.plans h3 {
	font-weight: 800;
}

/* layout styles */
header {
	width: 100%;
	margin: 2rem 0;
}

header,
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main,
footer {
	margin: 1.5rem;
	text-align: center;
}

.banner.img {
	width: 100%;
	height: 15rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin: 1rem;
}

.scroll-img {
	margin: 2rem 0;
}

/* plus-points section */
.plus-points {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}
.img-container {
	margin: 2rem auto;
	width: 124px;
	height: 124px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-turquoise);
	border-radius: 45px;
}

.plus-point img {
	height: 65%;
}

img.work-from-anywhere {
	width: 65%;
	height: auto;
}

.plus-point h3 {
	margin-bottom: 1rem;
}

/* pricing section */
.pricing {
	margin: 5rem 0 3rem 0;
}

.pricing h2 {
	margin: 1.5rem 0;
}

.plans {
	display: flex;
	flex-direction: column;
	margin: 3.5rem 0 2rem 0;
}

.plan {
	padding: 2rem;
	text-align: left;
	position: relative;
	border-radius: 0.5rem;
	margin-bottom: 3.5rem;
}

.plan h3 {
	margin: 2rem 0 1rem 0;
}

.free {
	background-color: var(--dark-turquoise);
}

.paid {
	background-color: var(--turquoise);
	color: var(--very-dark-blue);
}

.plan img {
	position: absolute;
	top: -1.5rem;
}

.plan.paid img {
	top: -2rem;
}

.paid p {
	color: var(--very-dark-blue);
}

.paid span {
	font-weight: 500;
	font-size: 1rem;
}

ul {
	list-style-image: url(/starter-code/assets/icon-check.svg);
	margin-left: 1.1rem;
}

li {
	padding: 0.75rem 0;
}

/* li::marker {
	background-color: var(--turquoise);
} */

/* footer */
footer {
	margin-bottom: 3rem;
	background-image: url(/starter-code/assets/bg-footer-squiggle.svg);
}
footer h2 {
	padding: 0 2rem 2rem 2rem;
}

input,
button {
	width: 100%;
	padding: 0.75rem;
	border-radius: 24px;
	font-weight: 800;
	border: none;
	margin-bottom: 1.5rem;
}

input {
	background-color: var(--dark-turquoise);
	outline: none;
	padding-left: 1rem;
}

button {
	color: var(--very-dark-blue);
	background-color: var(--turquoise);
	cursor: pointer;
}
