/* global variables */
:root {
	--white: hsl(0, 0%, 100%);
	--grey: hsl(225, 14%, 53%);
	--turquoise: hsl(179, 80%, 58%);
	--dark-turquoise: hsl(206, 84%, 22%);
	--very-dark-blue: hsl(230, 60%, 8%);
	--error: hsl(343, 100%, 58%);
}

/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--very-dark-blue);
	color: white;
	font-size: 16px;
}
/* 
font styles */
body {
	font-family: "Manrope", sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 800;
	font-style: normal;
	line-height: 40px;
	text-align: center;
}

h1 span {
	color: var(--turquoise);
}

p {
	font-size: 1rem;
	font-weight: 500;
	color: var(--grey);
	line-height: 25px;
}

/* layout styles */
header {
	width: 100%;
	margin: 2rem 0;
}

header,
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main {
	margin: 2rem;
	text-align: center;
}

.banner.img {
	width: 100%;
	height: 15rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin: 1rem;
}

.scroll-img {
	margin: 2rem 0;
}
